---
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
toc: true
toc_label: "Contents"
toc_icon: "list"
---

{% include base_path %}

<!-- Education
    ======================================================================== -->
<h2 id="education">Education</h2>

<table id="education_table" style="width:90%">
    <thead>
        <tr>
            <th style="background-color:#43474a">Year</th>
            <th style="background-color:#43474a">Institution</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>2016</td>
        <td><b>Boston University, Boston, MA</b></br>
            <i>Ph.D in Computational Neuroscience</i></br>
            Dissertation title:
              <a href='https://hdl.handle.net/2144/19163'>Brain structural connectivity and neurodevelopment in post-Fontan adolescents</a>
        </td>
    </tr>
    <tr>
        <td>2007</td>
        <td><b>Massachusetts Institute of Technology, Cambridge, MA</b></br>
            <i>B.S. in Brain & Cognitive Sciences</i></td>
    </tr>
    </tbody>
</table>

<!-- Work Experience
    ======================================================================== -->
<h2 id="work-experience">Work experience</h2>
<ul>
    <li>September 2016 -- present</li>
    <ul>
        <li>Postdoctoral Research Fellow</li>
        <li><a href="https://www.childrenslearninginstitute.org">Children's Learning Institute; Dept. of Pediatrics, University of Texas Health Science Center at Houston</a></li>
        <li>Supervisor: Linda Ewing-Cobbs, Ph.D</li>
    </ul>
    <li>October 2007 -- August 2016</li>
    <ul>
        <li>Research Assistant</li>
        <li>Dept. of Neurology, Boston Children's Hospital</li>
        <li>Supervisor: Michael Rivkin, M.D.</li>
    </ul>
</ul>

<!-- Skills
    ======================================================================== -->
<h2 id="skills">Skills</h2>
<table id="skills-table">
    <tr>
        <th style="background-color:#43474a">Category</th>
        <th style="background-color:#43474a">Items</th>
    </tr>
    <tr>
        <td>Operating systems</td>
        <td>Linux/Unix, Windows</td>
    </tr>
    <tr>
        <td>Software</td>
        <td>R, Freesurfer, FSL, Matlab, SPM, \LaTeX, Microsoft Office Suite</td>
    </tr>
    <tr>
        <td>Programming languages</td>
        <td>R, Matlab, Bash (shell), Python</td>
    </tr>
    <tr>
        <td>Neuropsychological assessments</td>
        <td>WASI, WISC, D-KEFS, CTOPP, CELF, Grooved pegboard</td>
    </tr>
</table>

<!-- Publications
    ======================================================================== -->
<h2 id="publications">Publications</h2>
  <ol>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ol>

<!-- Talks
    ======================================================================== -->
<h2 id="talks">Talks</h2>
  <ol>{% for post in site.talks %}
    {% include archive-single-talk-cv.html %}
  {% endfor %}</ol>

{% comment %}
## Teaching
  <ul>{% for post in site.teaching %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

## Service and leadership
* Currently signed in to 43 different slack teams
{% endcomment %}
